[user]
  name = Shaun Tan
  email = shauntanzongzhi@gmail.com
[github]
  user = EvitanRelta
[alias]
  login = "!f() { ssh -T git@github.com; }; f"
  getlab = "!f() { ~cs2030s/get-lab$1; }; f"
  submitlab = "!f() { ~cs2030s/submit-lab$1; }; f"
  cum = "!cd "${GIT_PREFIX:-.}"; f() { git add .; git commit \"$@\"; }; f"
  cumane = "!cd "${GIT_PREFIX:-.}"; f() { git add .; git commit --amend --no-edit; }; f"
  cane = "!cd "${GIT_PREFIX:-.}"; f() { git commit --amend --no-edit; }; f"
  dump = "!cd "${GIT_PREFIX:-.}"; f() { git restore .; git clean -df; }; f"
  undoc = "!cd "${GIT_PREFIX:-.}"; f() { git reset --soft HEAD^; }; f"
  stat = "!cd "${GIT_PREFIX:-.}"; f() { git status; }; f"
  pop = "!cd "${GIT_PREFIX:-.}"; f() { git stash pop; }; f"
